<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         version="2.5" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"> 
         
  <display-name>Archetype Created Web Application</display-name>
 
  <servlet>
  	<servlet-name>SaveNoteServlet</servlet-name>
  	<servlet-class>com.servlets.SaveNoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SaveNoteServlet</servlet-name>
  	<url-pattern>/SaveNote</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>DeleteServlet</servlet-name>
  	<servlet-class>com.servlets.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DeleteServlet</servlet-name>
  	<url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>UpdateServlet</servlet-name>
  	<servlet-class>com.servlets.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UpdateServlet</servlet-name>
  	<url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>

</web-app>
